NODE_ENV=development
DB_HOST=localhost
DB_PORT=5433
DB_USER=callux
DB_PASS=callux
DB_NAME=callux
REDIS_URL=redis://localhost:6380
JWT_SECRET=replace_me
S3_BUCKET=callux-pod
AWS_REGION=us-west-1
OIDC_ISSUER=https://auth.calluxos.com

